exportPattern("^[[:alpha:]]+")

importFrom(Rcpp,evalCpp)
importFrom(Matrix, "Matrix", "crossprod", "tcrossprod", "chol", "solve", "determinant","t")
importFrom(truncnorm, "rtruncnorm")
importFrom("splines","bs")
importFrom("methods", "as")
importFrom("stats", "cov.wt", "cov2cor", "median", "rgamma", "rlnorm", "rnorm", "dlnorm", "dnorm", "runif")
importFrom("MASS", "mvrnorm")

useDynLib(serrsBayes)
